.button {
	-fx-font: 3em "Verdana";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0, 0, 0, 0.6) , 5, 0.0, 0 , 1 );
	-fx-border-color: #D1C2D3;
	-fx-border-width: 5px;
	-fx-pref-height: 100px;
    -fx-pref-width: 50px;
}